@model Agenda

<h2>Eliminar Agenda</h2>

<h3>¿Estás seguro de que deseas eliminar esta agenda?</h3>
<div>
    <h4>Nombre: @Model.Nombre</h4>
    <h4>Teléfono: @Model.Telefono</h4>
    <h4>Dirección: @Model.Direccion</h4>
</div>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="IdAgenda"/>
    <div class="form-group">
        <input type="submit" value="Eliminar" class="btn btn-danger"/>
        <a asp-action="Index" class="btn btn-primary">Volver</a>
    </div>
</form>